header {
	display: flex;
	width: 100%;
	height: 10vh;
    margin: auto;
    align-items: center;
    flex: 3;
}

.logo-container,
.nav-links,
.junk {
  display: flex;
  flex-direction: row;
}

.logo-container {
    flex: 1;
    font-weight: 400;
}
.logo {
    margin-left: 45%;
    margin-right: 45%;
    margin-top : 10%
}

nav {
	flex: 1;
}
  
.nav-hamburger {
    height: 10vh;
  }
  
  .nav-links-hamburger {
    display: flex;
    list-style: none;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
  }
  
  .nav-links-hamburger li a {
    color: rgb(12, 11, 11);
    text-decoration: none;
    font-size: 16px;
  }

  .nav-links {
	justify-content: space-around;
	list-style: none;
}
.nav-link {
	color:black;
	font-size: 18px;
    text-decoration: none;
    float: right;
}

.list-links{
    text-decoration: none;
    background: linear-gradient(to right, #7d7d81, black );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #EBF5FC;

}
.form{
  margin: 20px;
  position: relative;
  width: fit-content;
  height: fit-content;
  padding: 40px 40px 60px;
  background: #EBF5FC;
  border-radius: 10px;
  text-align: center;
  box-shadow: -5px -5px 10px rgba(255,255,255,0.05),
              5px 5px 15px  rgba(0,0,0,0.5);
}
.form h2{
  color: #c7c7c7;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.form .input{
  text-align: left;
  margin-top: 40px;
}

.form .input .inputbox label{
  display: block;
  color: #868686;
  margin-bottom: 5px;
  font-size: 18px;
}

.form .input .inputbox input{
  width: 100%;
  height: 50px;
  background: #EBF5FC;
  border-radius: 40px;
  border: none;
  outline: none;
  padding: 5px 15px;
  color: #FFF;
  font-size: 18px;
  color:#999;
  box-shadow: inset -2px -2px 6px rgba(255,255,255,1),
              inset 2px 2px 6px rgba(0,0,0,0.1);

}

.form .input .inputbox input[type = "button"]
{
  margin-top: 20px;
  box-shadow: -2px -2px 6px rgba(255,255,255,1),
               2px 2px 6px rgba(0,0,0,0.1);
}

.form .input .inputbox input[type = "button"]:active{
  color: #006c9c;
  margin-top: 20px;
  box-shadow: inset -2px -2px 6px rgba(255,255,255,1),
              inset 2px 2px 6px rgba(0,0,0,0.1);

}